<html>
  <head>
    <title>Dojos</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css')}}>
  </head>
  <body>
    <h2>This is the Dojos page</h2>
    <form action="" method="POST">
      <div class="form-group">
        <label for "name">Name: </label>
        <input type="text" id="name" name="name">
      </div>
      <div class="form-group">
        <label for "location">Location: </label>
        <input type="text" id="location" name="location">
      </div>
      <input type="submit" value="New Dojo">
    </form>
  </body>
</html>
