<html>
  <head>
    <title>Semi-Restful Users</title>
    <meta charset="utf-8"> <!--to parse special characters correctly-->
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
  </head>
  <body>
    <h1>Users:</h1>
    <table>
      <tr>
        <th align="center">id</th>
        <th>Full Name</th>
        <th>Email</th>
        <th align="center">Created At</th>
        <th align="center">Actions</th>
      </tr>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{user.id}}</td>
            <td><a href = "/users/{{ user.id }}/show">{{user.first_name}} {{user.last_name}}<a/></td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td class = "actions"><a href = "/users/{{ user.id }}/show" Method = "POST">Show</a> <a href = "/users/{{ user.id }}/edit" Method = "POST">Edit</a> <a href = "/users/{{ user.id }}/destroy" Method = "POST">Delete</a></td> <!--{{user.id}} finds the id from the user table -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href = "/users/new" Method = "POST">Add a new user</a>
  </body>
</html>
