<!doctype html>
<html>
  <head>
      <title>Edit Page</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
  <body>
    <h2>Edit</h2>
    <form action='/friends/{{ friend.id }}' method='POST'>
      <label for="first_name">First Name:<input type="text" name="f_name"></label>
      <label for="last_name">Last Name:<input type="text" name="l_name"></label>
      <label for="email">Email:<input type="text" name="e_mail"></label>
      <input type="submit" value="Update">
    </form>
  </body>
</html>
