<html>
<head>
  <title>Full Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
</head>
<body>
  <h1>Full Friends</h1>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend['first_name'] }}</td>
        <td>{{ friend['last_name'] }}</td>
        <td>{{ friend['email'] }}</td>
        <td><a href="/friends/{{friend['id']}}/edit">Edit</a><a href="/friends/{{friend['id']}}/delete">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Add Friend</h3>
  <form action='/friends' method='POST'>
    <label for="first_name">First Name:<input type="text" name="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name"></label>
    <label for="email">Email:<input type="text" name="email"></label>
    <input type="submit" value="Update">
  </form>
</body>
</html>
