<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <meta charset="utf-8"> <!--to parse special characters correctly-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> <!--include necessary stylesheet, bootstrap.css-->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css" />
  </head>

  <body>
    <div class="sign_in">
      <h1>Sign-In</h1>
      <form action="/profile" method="POST">
        <label for 'email'>Email Address: </label>
        <input type = "text" name="email">
        <label for 'password'>Password: </label>
        <input type = "password" name="password">
        <button input type="submit" id="sign_in">Sign In</button>
      </form>
      <a href="/register">Don't have an acocunt? Register here.</a>
    </div>
  </body>
</html>
