<html>
  <head>
    <title>Amadon</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'store/css/style.css' %}">
  </head>
  <body>
    <h1>Amadon Store!</h1>
    <table>
      <thead>
        <th>Item</th>
        <th>Price</th>
        <th>Actions</th>
      </tead>
      <tbody>
        {% for i in items %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.price}}</td>
          <td>
            <form action = "/buy/{{i.id}}" method = "POST">
              {% csrf_token %}
              <select name = 'quantity'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <button type = "submit">Buy!</button></td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
