<html>
  <head>
    <title>Dojo Survey</title>
  </head>
  <body>
    <h1>Dojo Survey<h1>
      <form action= '/process' method='post'>
        Your Name: <input type='text' name="name">
        Dojo Location: <select name='location'>
          <option value = "Chicago">Chicago</option>
          <option value = "Miami">Miami</option>
          <option value = "Denver">Denver</option>
          <option value = "LA">LA</option>
          <option value = "Online">Online</option>
        </select>
        Favorite Language: <select name = "language">
          <option value = "js">JavaScript</option>
          <option value = "python">Python</option>
          <option value = "html">HTML</option>
          <option value = "ruby">Ruby</option>
          <option value = "mean">Mean</option>
        </select>
        <input type='submit' value='Button'>
      </form>
  </body>
</html>
