<html>
<head>
  <title>Email</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
</head>
<body>
  <h1>Please enter an email address</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action='/process' method = 'POST'>
    <label for = "email">Email Address: <input type="text" name="email"></label>
    <input type = "submit" value = "Submit">
  </form>
</body>
</html>
